// Theme

$fg-main: #F3C4F9;

$border-main: #D28CF0;
$border-alt: #B275CC;

$bg-main: #7E839A;
$bg-alt: #9DA2B9;
$bg-hover: #A37DC5;
$bg-hover-alt: #6C7087;
$bg-tooltip: #7E839A;
$bg-second: #8F94AB;
$bg-third: #C5A6E2;

$ply-main: #686C81;
$ply-hover: #B284D6;
$ply-act: #9767C0;
$msc-act: #AF83D8;

$wlogout-hover: rgba(126, 131, 154, 0.541);
$wlogout-bg: rgba(126, 131, 154, 0.45);
$wlogout-button: rgba(126, 131, 154, 0.781);
