[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "config/mechabar"]
	path = config/mechabar
	url = https://github.com/sejjy/mechabar.git
[submodule "GitCracken"]
	path = GitCracken
	url = https://github.com/Hao-yv/GitCracken.git
