config/gtk-3.0/settings.ini
config/hypr/machine.conf
config/nvim/lazy-lock.json
config/hypr/machine.conf
config/nvim-modular/lazy-lock.json
**/fish_variables
config/hypr/colors.conf
config/gtk-3.0
config/gtk-4.0
config/kitty/colors-matugen.conf
config/ml4w/colors
config/nwg-dock-hyprland/colors.css
config/ohmyposh/EDM115-newline.omp.json
config/ohmyposh/colors.json
config/qt6ct/qt6ct.conf
config/rofi/colors.rasi
config/swaync/colors.css
config/walker/colors.css
config/waybar/colors.css
config/wlogout/colors.css
